@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #1488cc, #2b32b2);

    --background: 69 0% 17%;
    --foreground: 24 2.4% 90.2%;

    --muted: 215 41% 13.2%;
    --muted-foreground: 215 8.2% 54.4%;

    --popover: 215 48.6% 5.72%;
    --popover-foreground: 215 8.2% 97.2%;

    --card: 215 48.6% 5.72%;
    --card-foreground: 215 8.2% 97.2%;

    --border: 215 41% 13.2%;
    --input: 215 41% 13.2%;

    --primary: 215 82% 44%;
    --primary-foreground: 215 8.2% 97.2%;

    --secondary: 215 41% 13.2%;
    --secondary-foreground: 215 8.2% 97.2%;

    --accent: 215 41% 13.2%;
    --accent-foreground: 215 8.2% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 8.2% 97.2%;

    --ring: 215 82% 44%;

    /* --font-openSans: "Open Sans", serif; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* about section floating animation*/
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@layer utilities {
  .clip-your-needful-style:nth-of-type(1) {
    clippath: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: gray;
  }
  .clip-your-needful-style:nth-of-type(2) {
    clippath: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: white !important;
  }
}

@layer components {
  /* ... */
}

.level-slider .transition-colors {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.cover-image {
  background-image: url("https://i.ibb.co.com/prZcj0Mw/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: white;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}
